<!doctype html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/all.min.css" />

        <title>Feira</title>
    </head>

    <body style="height: 100%;" class="list-group-item-secondary">
        <div id="app" class="row no-gutters justify-content-center p-3">
            <div class="col-12 p-3 bg-light rounded">
                <p class="h3">Feira{{ editado ? ' (não salvo)' : '' }}</p>

                <div class="row">
                    <div class="col-auto mb-3">
                        <button id="salvar" type="button" class="btn btn-sm btn-secondary" @click="save">Salvar</button>
                    </div>

                    <div class="col-auto mb-3">
                        <button
                            id="recarregar" type="button" class="btn btn-sm btn-secondary" @click="reload(true)">
                                Recarregar
                        </button>
                    </div>

                    <div class="col-auto mb-3">
                        <button
                            id="importar" type="button" class="btn btn-sm btn-secondary" @click="importar">
                                Importar
                        </button>
                    </div>

                    <div class="col-auto mb-3">
                        <button
                            id="exportar" type="button" class="btn btn-sm btn-secondary" @click="exportar">
                                Exportar
                        </button>
                    </div>

                    <div class="col-auto mb-3">
                        <button
                            id="ocultar" type="button" class="btn btn-sm btn-secondary" @click="ocultando = !ocultando">
                                {{ ocultando ? 'Exibir' : 'Ocultar' }} comprados / desnecessários
                        </button>
                    </div>

                    <div class="col-auto mb-3">
                        <button
                            id="organizar" type="button" class="btn btn-sm btn-secondary" @click="organizar">
                                Organizar
                        </button>
                    </div>

                    <div class="col-auto mb-3 d-none d-lg-block">
                        <button
                            id="zerar" type="button" class="btn btn-sm btn-secondary" @click="zerar">
                                Zerar preços
                        </button>
                    </div>

                    <div class="col-auto mb-3 d-none d-lg-block">
                        <button
                            id="descomprar" type="button" class="btn btn-sm btn-secondary" @click="descomprar">
                                Desmarcar comprados
                        </button>
                    </div>
                </div>

                <textarea class="form-control form-control-sm" @change="importText = $event.target.value">{{ importText }}</textarea>

                <p class="h4 mt-2">Total (1): {{ calcularTotalLocal(1) }}</p>
                <p class="h4">Total (2): {{ calcularTotalLocal(2) }}</p>
                <p class="h4">Total (3): {{ calcularTotalLocal(3) }}</p>
                <p class="h4">Total (Final): {{ calcularTotalFinal() }}</p>

                <button type="button" class="btn btn-sm btn-secondary mt-1" @click="add">Novo</button>

                <div class="accordion my-3" id="lista">
                    <div v-for="(dado, index) in dados" class="card" :key="'card-' + index">
                        <div
                            class="card-header" :class="dados[index].comprado ? 'bg-success' : 'bg-danger'"
                            v-show="!ocultando || (!dados[index].comprado && dados[index].quantidade != '0,00')">

                            <h5 class="mb-0 d-flex">
                                <button
                                    class="btn btn-sm btn-light mr-2" :class="dados[index].comprado ? 'fa fa-check' : 'fa'"
                                    type="button" style="line-height: 1.5;" @click="alternar(index)">{{ dados[index].comprado ? '' : '&nbsp;&nbsp;&nbsp;&nbsp;' }}
                                </button>

                                <button
                                    class="btn btn-sm btn-light font-weight-bold mr-2" data-toggle="collapse" :data-target="'#fold-' + index" type="button">
                                    {{ dados[index].produto }} - {{ dados[index].quantidade }} ({{ calcularTotalGeral(dados[index]) }})
                                </button>

                                <button
                                    class="ml-auto btn btn-sm btn-light fa fa-times" type="button" style="line-height: 1.5;"
                                    @click="cancel(index)">
                                </button>
                            </h5>
                        </div>

                        <div :id="'fold-' + index" class="collapse" data-parent="#lista">
                            <div class="card-body">
                                <div class="form-group">
                                    <label :for="'produto-' + index" class="font-weight-bold">Produto:</label>

                                    <input
                                        type="text" class="form-control form-control-sm"
                                        v-model="dados[index].produto" :id="'produto-' + index" />
                                </div>

                                <div class="form-group">
                                    <label :for="'quantidade-' + index" class="font-weight-bold">Quantidade:</label>

                                    <input
                                        type="text" class="form-control form-control-sm" :value="dados[index].quantidade"
                                        @change="formatRealField(index, 0, $event)" @focus="selecionarTudo"
                                        :id="'quantidade-' + index" />
                                </div>

                                <div class="form-group">
                                    <label :for="'preco_1-' + index" class="font-weight-bold">Preço (1):</label>

                                    <input
                                        type="text" class="form-control form-control-sm" :id="'preco_1-' + index"
                                        :value="dados[index].preco_1" @change="formatRealField(index, 1, $event)"
                                        @focus="selecionarTudo" />
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold">Total (1):</label>

                                    <input
                                        type="text" class="form-control form-control-sm"
                                        :value="calcularTotal(dados[index].quantidade, dados[index].preco_1)"
                                        disabled />
                                </div>

                                <div class="form-group">
                                    <label :for="'preco_2-' + index" class="font-weight-bold">Preço (2):</label>

                                    <input
                                        type="text" class="form-control form-control-sm" :id="'preco_2-' + index"
                                        :value="dados[index].preco_2" @change="formatRealField(index, 2, $event)"
                                        @focus="selecionarTudo" />
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold">Total (2):</label>

                                    <input
                                        type="text" class="form-control form-control-sm"
                                        :value="calcularTotal(dados[index].quantidade, dados[index].preco_2)" 
                                        disabled />
                                </div>

                                <div class="form-group">
                                    <label :for="'preco_3-' + index" class="font-weight-bold">Preço (3):</label>

                                    <input
                                        type="text" class="form-control form-control-sm" :id="'preco_3-' + index"
                                        :value="dados[index].preco_3" @change="formatRealField(index, 3, $event)"
                                        @focus="selecionarTudo" />
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold">Total (3):</label>

                                    <input
                                        type="text" class="form-control form-control-sm"
                                        :value="calcularTotal(dados[index].quantidade, dados[index].preco_3)"
                                        disabled />
                                </div>

                                <div class="form-group">
                                    <label :for="'categoria-' + index" class="font-weight-bold">Categoria:</label>

                                    <input
                                        type="text" class="form-control form-control-sm" :id="'categoria-' + index"
                                        v-model="dados[index].categoria" />
                                </div>

                                <div class="form-group">
                                    <label :for="'observacoes-' + index" class="font-weight-bold">Obs:</label>

                                    <textarea
                                        class="form-control form-control-sm" :id="'observacoes-' + index"
                                        v-model="dados[index].observacoes" rows="2">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-sm btn-secondary" @click="add">Novo</button>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    editado: false,
                    counter: 0,
                    importText: '',
                    ocultando: false,
                    dados: []
                },
                watch: {
                    dados: function dados () {
                        this.editado = true;
                    }
                },
                methods: {
                    save: function save () {
                        var storage = window.localStorage;

                        if (!storage) {
                            alert('Seu navegador não permite que salve dados!');
                        } else {
                            storage.setItem('dados_feira', JSON.stringify(this.dados));

                            alert('Dados salvos com sucesso!');

                            this.editado = false;
                        }
                    },
                    reload: function reload (alertar) {
                        var storage = window.localStorage;

                        if (!storage) {
                            if (alertar) {
                                alert('Seu navegador não permite que salve dados!');
                            }
                        } else {
                            var tmp = JSON.parse(storage.getItem('dados_feira'));

                            if (Array.isArray(tmp)) {
                                this.dados = tmp;

                                this.counter = this.dados.reduce(function f (acc, dado) {
                                    if (dado.rowkey > acc) {
                                        return dado.rowkey;
                                    } else {
                                        return acc;
                                    }
                                }, 0) + 1;

                                var _this = this;
                                
                                Vue.nextTick(function f () {
                                    _this.editado = false;
                                });
                            } else if (alertar) {
                                alert('Nenhum dado estava salvo.');
                            }
                        }
                    },
                    importar: function importar () {
                        var tmp = JSON.parse(atob(this.importText));

                        if (Array.isArray(tmp)) {
                            this.dados = tmp;

                            this.counter = this.dados.reduce(function f (acc, dado) {
                                if (dado.rowkey > acc) {
                                    return dado.rowkey;
                                } else {
                                    return acc;
                                }
                            }, 0) + 1;

                            var _this = this;
                            
                            Vue.nextTick(function f () {
                                _this.editado = false;
                            });
                        }
                    },
                    exportar: function exportar () {
                        var tmp = btoa(JSON.stringify(this.dados));

                        if (!tmp || 0 === tmp.length) {
                            alert('Nada a copiar.');
                        } else {
                            try {
                                var elem = document.createElement('textarea');

                                elem.value = tmp;

                                elem.style.top = '0';
                                elem.style.left = '0';
                                elem.style.position = 'fixed';

                                document.body.appendChild(elem);

                                elem.focus();
                                elem.select();

                                document.execCommand('copy');

                                document.body.removeChild(elem);

                                alert('Copiado com sucesso.');
                            } catch (err) {
                                console.error(err);
                            }
                        }
                    },
                    organizar: function organizar () {
                        var tmp = JSON.parse(JSON.stringify(this.dados));

                        tmp.sort(function f (a, b) {
                            var x = a.quantidade == '0,00' ? 0 : 1;
                            var y = b.quantidade == '0,00' ? 0 : 1;

                            if (x != y) return y - x;

                            if (a.categoria > b.categoria) return 1;

                            if (b.categoria > a.categoria) return -1;

                            return 0;
                        });

                        this.dados = tmp;
                    },
                    zerar: function zerar () {
                        this.dados = this.dados.map(function f (item) {
                            item.preco_1 = '0,00';
                            item.preco_2 = '0,00';
                            item.preco_3 = '0,00';

                            return item;
                        });
                    },
                    descomprar: function descomprar () {
                        this.dados = this.dados.map(function (item) {
                            item.comprado = false;

                            return item;
                        });
                    },
                    add: function add () {
                        let novo = {};

                        novo.rowkey = this.counter;
                        novo.produto = '';
                        novo.quantidade = '0,00';
                        novo.preco_1 = '0,00';
                        novo.preco_2 = '0,00';
                        novo.preco_3 = '0,00';
                        novo.observacoes = '';
                        novo.comprado = false;

                        this.counter++;

                        this.dados.push(novo);
                    },
                    cancel: function cancel (index) {
                        this.dados.splice(index, 1);
                    },
                    alternar: function alternar (index) {
                        this.dados.splice(index, 1, {
                            ...this.dados[index],
                            comprado: !this.dados[index].comprado
                        });
                    },
                    formatRealField: function formatRealField (index, field, event) {
                        var val = '';
        
                        val = this.formatReal(event.target.value);

                        if (field == 0) {
                            this.dados[index].quantidade = val;
                        } else if (field == 1) {
                            this.dados[index].preco_1 = val;
                        } else if (field == 2) {
                            this.dados[index].preco_2 = val;
                        } else if (field == 3) {
                            this.dados[index].preco_3 = val;
                        }
                        
                        event.target.value = val;
                    },
                    formatReal: function formatReal (number) {
                        var val = parseFloat(new String(number).replace('.', '').replace(',', '.'));
            
                        if (isNaN(val)) {
                            val = '0';
                        }
                        
                        var numberFormatter = new Intl.NumberFormat(
                            'pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }
                        );
                        
                        return numberFormatter.format(val);
                    },
                    selecionarTudo: function selecionarTudo (event) {
                        event.target.setSelectionRange(0, event.target.value.length);
                    },
                    calcularTotal: function calcularTotal (v1, v2) {
                        var t1 = parseFloat(new String(v1).replace('.', '').replace(',', '.'));
                        var t2 = parseFloat(new String(v2).replace('.', '').replace(',', '.'));

                        var total = t1 * t2;

                        return this.doubleToReal(total);
                    },
                    calcularTotalGeral: function calcularTotalGeral (dado) {
                        var q = parseFloat(new String(dado.quantidade).replace('.', '').replace(',', '.'));

                        var p1 = parseFloat(new String(dado.preco_1).replace('.', '').replace(',', '.'));
                        var p2 = parseFloat(new String(dado.preco_2).replace('.', '').replace(',', '.'));
                        var p3 = parseFloat(new String(dado.preco_3).replace('.', '').replace(',', '.'));

                        var pf = Math.min(...[p1, p2, p3].filter(function f (item) {
                            return item > 0;
                        }));

                        var total = q * (pf === Infinity ? 0 : pf);

                        return this.doubleToReal(total);
                    },
                    doubleToReal: function doubleToReal (number) {
                        if (isNaN(number) || number === null) {
                            return '';
                        }
                        
                        var numberFormatter = new Intl.NumberFormat(
                            'pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }
                        );
                    
                        return numberFormatter.format(new String(number));
                    },
                    calcularTotalLocal: function calcularTotalLocal (local) {
                        var total = this.dados.reduce(function f (acc, dado) {
                            var q = parseFloat(new String(dado.quantidade).replace('.', '').replace(',', '.'));

                            var v1 = parseFloat(new String(dado.preco_1).replace('.', '').replace(',', '.'));
                            var v2 = parseFloat(new String(dado.preco_2).replace('.', '').replace(',', '.'));
                            var v3 = parseFloat(new String(dado.preco_3).replace('.', '').replace(',', '.'));
                            
                            var vf = Math.min(...[v1, v2, v3].filter(function f (item) {
                                return item > 0;
                            }));

                            switch (local) {
                                case 1: vf = vf == v1 ? v1 : 0; break;
                                case 2: vf = vf == v2 ? v2 : 0; break;
                                case 3: vf = vf == v3 ? v3 : 0; break;
                            }

                            return acc + (q * (vf === Infinity ? 0 : vf));
                        }, 0);

                        return this.doubleToReal(total);
                    },
                    calcularTotalFinal: function calcularTotalFinal () {
                        var total = this.dados.reduce(function f (acc, dado) {
                            var q = parseFloat(new String(dado.quantidade).replace('.', '').replace(',', '.'));

                            var v1 = parseFloat(new String(dado.preco_1).replace('.', '').replace(',', '.'));
                            var v2 = parseFloat(new String(dado.preco_2).replace('.', '').replace(',', '.'));
                            var v3 = parseFloat(new String(dado.preco_3).replace('.', '').replace(',', '.'));
                            
                            var vf = Math.min(...[v1, v2, v3].filter(function f (item) {
                                return item > 0;
                            }));

                            return acc + (q * (vf === Infinity ? 0 : vf));
                        }, 0);

                        return this.doubleToReal(total);
                    }
                },
                mounted: function mounted () {
                    this.reload(false);
                }
            });
        </script>
    </body>
</html>
